<div class="container">
  <h2>Dashboard</h2>
  <div class="fixed-top" class="span12" style="border: 1px solid black"></div> 
  <div class="row">
    <div class="col-lg-4">
      <div  class="scoreboard">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Score</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
             <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
            </tr> <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
            
            
            
            
          </tbody>
        </table>
      </div>
    </div>
    <div="col-lg-8">
    </div>
  </div>
</div>
