
<div class="container">
  <h2>Dashboard</h2>
  <div class="fixed-top" class="span12" style="border: 1px solid black"></div> 
  <div class="row">
    <div class="col col-lg-4">
      <div  class="scoreboard">
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Name</th>
              <th scope="col">Score</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
            
              <td>Eric Lu</td>
              <td>0</td>
            </tr>
            <tr>
              
              <td>Will</td>
              <td>0</td>
            </tr>
            <tr>
           
              <td>Jason</td>
              <td>0</td>
            </tr>
             <tr>
             
              <td>Stef</td>
              <td>0</td>
            </tr> <tr>
           
              <td>Eric Silver</td>
              <td>0</td>
            </tr>
            
            
            
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="col col-lg-8">
      <div class = "unitplanner">
       Unit
      </div>
      <div class = "unitplanner">
        Todays Plan
    <!--<div id="draggable" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)">This div is draggable</div>-->
      </div>
    </div>
  </div>
</div>
