<div class="container">
  <h2>Lessons</h2>
  <div class="fixed-top" class="span12" style="border: 1px solid black"> 
  </div> 
  <div style = "position:relative; right:0px; top:20px">
    <a href="/new" class="btn-new-link btn-outline btn-lrg btn">+</a>
    <div class = "Cot" draggable="true">  </div>
    
  </div>
</div>