/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//gradient
.home-callout, .navbar {
 background: #3CA55C;  /* fallback for old browsers */
}  

.navbar {
  border: none;
}

//navbar text colour
.navbar-default .navbar-brand {
  color: white;
}
//navbar text colour
.navbar-default .navbar-nav > li > a {
  color: white;
}
//change this to match colour above
.navbar-default .navbar-brand:hover {
  color: white;
  opacity: 0.75;
  text-decoration: underline;
}
//change this to match colour above
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: underline;
}

.home-callout {
  margin-top: -21px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.btn-new-link {
  color: black;
}
.btn-new-link:hover {
  color: black;
  opacity: 0.90;
  text-decoration: none;
}

// underside text colour
.home-callout .home-brand-message {
    color: lightgray;
}

// Interactive underside colour
.brand-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

// Button Sizes
.btn-lrg {
  font-size: 120px;
  width: 290px;
  
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    border-color: black;
    color: inherit;
    transition: all .5s;
    
}

// Boxes in classroom (Unit and Planner)
.unitplanner {
  Height: 200px;
  width: 500px;
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 20px;
  position:relative; left: 250px;
  text-align: center;
  display: inline-block;
}

.text-center {
  text-align: a;
}

#draggable {
    width: 200px;
    height: 20px;
    text-align: center;
    background: white;
  }

.dropzone {
  width: 300px;
  height: 40px;
  background: blueviolet;
  margin-bottom: 10px;
  padding: 10px; 
}

//Resizable menu start
#container {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
}
#resizable {
  display: block;
  font-size: 9pt;
  //position: absolute;
  bottom: 50px;
  left: 20px;
  padding: 10px;
  min-width: 0;
  border: solid 1px black;
  width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  top: -21px;                  // makes the height the same on both screen
  position: relative; left: 20px;
}
#rsz {
  
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0.5);
}
#original {}
//resizable menu end

//Move Div start
#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  width: 500;
  height: 700;
  left: -4px;
}

#mydivheader {
  //padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
  height: 300px; 
  margin-top: -3px;
  position:relative; right:16px;
  display: block;
  font-size: 9pt;
  position: absolute;
  bottom: 50px;
  left: -6px; // KEEP 
//  padding: 10px;
  min-width: 0;
  border: solid 1px black;
  width: 600px;
  // overflow-x: auto; keep for now
  // overflow-y: hidden;
  top: -641px;       
 
            // makes the height the same on both screen
  
}
// height from bottom to nav bar is 700px


//CSS LIB FOR RESIZABLE 
#wrapper {
    min-height:100%;
    min-width:100%;
    position:relative;
}

.contain {
    display: flex;
    position: relative;
    bottom:20px;
    right:15px;

  /* Misc */

  height: 700px;
  // width: 70%;
  // box-sizing: border-box;
  // position:relative; left:25.6vw;
}
.container__left {
    /* Initially, the left takes 3/4 width */
    width: 75%;
    box-sizing: border-box;
    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}
.resizer {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 2px;
    
}
.container__right {
    /* Take the remaining width */
    flex: 1;
    border: 2px solid #cbd5e0;
    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #9c9863;
    left: 1021vw;
}