/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.home-callout, .navbar {
 background: #3CA55C; 
}  

.navbar {
  border: none;
}

//navbar text colour
.navbar-default .navbar-brand {
  color: white;
}
//navbar text colour
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
  opacity: 0.75;
  text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: underline;
}

.home-callout {
  margin-top: -21px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.btn-new-link {
  color: black;
}
.btn-new-link:hover {
  color: black;
  opacity: 0.90;
  text-decoration: none;
}

// underside text colour
.home-callout .home-brand-message {
    color: lightgray;
}

// Interactive underside colour
.brand-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
}


//------------------LESSONS.HTML.ERB-------------------//

// Button Sizes
.btn-lrg {
  font-size: 120px;
  width: 290px;
  
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    border-color: black;
    color: inherit;
    transition: all .5s;
    
}


//------------------CLASSROOM.HTML.ERB-------------------//

//////////////classroom boxes//////////////
.unitplanner {
  Height: 200px;
  width: 500px;
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 20px;
  position:relative; left: 250px;
  text-align: center;
  display: inline-block;
}

.text-center {
  text-align: a;
}


//------------------NEW.HTML.ERB-------------------//

///////////////css for canvas////////////////
#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  width: 500;
  height: 700;
}

#mydivheader {
  cursor: move;
  z-index: 10;
  color: #fff;
  height: 300px; 
  margin-top: -3px;
  position:relative; right:16px;
  display: block;
  font-size: 9pt;
  position: absolute;
  bottom: 50px;
  left: 10px; // KEEP 
  min-width: 0;
  border: solid 1px black;
  width: 600px;
  // overflow-x: auto; keep for now
  // overflow-y: hidden;
  top: -641px;    
  
 
  
}

////////////////css for resizable side menu///////////////////
.row {
  width: 100%;
  
}
.contain {
  right: -15px; 
}

.contain {
  display: flex;
  position: relative;
  bottom: 20px;
  height: 800px;
  
}
.container__left {
  /* Initially, the left takes 3/4 width */
  width: 75%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
}

.resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}
.container__right {
  /* Take the remaining width */
  flex: 1;
  /* Misc */
  //align-items: center;
  display: flex;
  //justify-content: center;
  background-color: #9c9863;
  z-index: 11;
}

.placeholder {
  border: solid 1px black;
  background-color: red;
  height: 30px;
  position: relative;
  right: -10px;
  top: 10px;
}



#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  margin: 1rem 0 0 1rem;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}